<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재명이네 마을 정책 다운로드</title>
    <link rel="stylesheet" href="/static/pdf_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>PDF 파일 다운로드</h1>
        
        <!-- 통합 파일 섹션 -->
        <div class="main-file">
            <div class="main-file-content">
                <div class="thumbnail-container">
                    <img id="pdf-thumbnail" src="/static/images/pdf_thumbnail.jpg" alt="PDF 썸네일" class="pdf-thumbnail">
                    <a href="/download/full" class="main-file-button" id="download-full">
                        <i class="fa-solid fa-file-pdf"></i>
                        <span>더불어민주당 제20대 대통령선거 정책공약집</span>
                    </a>
                </div>
            </div>
        </div>
        
        <!-- 개별 파일 섹션 -->
        <div class="individual-files">
            <h2>개별 파일 다운로드</h2>
            <div class="files-grid">
                <div class="file-item">
                    <div class="file-info">
                        <h3>삶의 터전별 공약</h3>
                    </div>
                    <a href="/download/file1" class="download-button" data-file="file1">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
                
                <div class="file-item">
                    <div class="file-info">
                        <h3>대상별 공약</h3>
                    </div>
                    <a href="/download/file2" class="download-button" data-file="file2">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
                
                <div class="file-item">
                    <div class="file-info">
                        <h3>1. 신경제</h3>
                    </div>
                    <a href="/download/file3" class="download-button" data-file="file3">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
                
                <div class="file-item">
                    <div class="file-info">
                        <h3>2. 공정성장</h3>
                    </div>
                    <a href="/download/file4" class="download-button" data-file="file4">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
                
                <div class="file-item">
                    <div class="file-info">
                        <h3>3. 민생안정</h3>
                    </div>
                    <a href="/download/file5" class="download-button" data-file="file5">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
                
                <div class="file-item">
                    <div class="file-info">
                        <h3>4. 민주사회</h3>
                    </div>
                    <a href="/download/file6" class="download-button" data-file="file6">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
                
                <div class="file-item">
                    <div class="file-info">
                        <h3>5. 평화안보</h3>
                    </div>
                    <a href="/download/file7" class="download-button" data-file="file7">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
                
                <div class="file-item">
                    <div class="file-info">
                        <h3>소확행·명확행·SNS발표 공약</h3>
                    </div>
                    <a href="/download/file8" class="download-button" data-file="file8">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="back-button-container">
            <a href="/" class="back-button">
                <i class="fa-solid fa-arrow-left"></i> 챗봇으로 돌아가기
            </a>
        </div>
        
        <div class="comments-button-container">
            <a href="/pdf/comments" class="comments-button">
                <i class="fa-solid fa-comments"></i> 응원메시지 보내기
            </a>
        </div>
    </div>

    <script src="/static/pdf_script.js"></script>
</body>
</html>